* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0863D9;
    --secondary-color: #0C098C;
    --tertiary-color: #1B9F0E;
    --fourth-color: #EDC00F;
}

body {
    color: var(--fourth-color);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: var(--secondary-color);
    background-image: url(./images/space.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    top: 0;
    color: rgb(22, 34, 201, .50);
    align-items: center;
}

header img{
    max-width: 100%;
    max-height: 100%;
    border:rgb(6, 34, 194) 1px solid;
    border-radius: 30px;
}

.name-pic img {
    height: 70px;
    width: auto;
}

header h1 {
   font-size: 50px;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-shadow: 0 0 10px rgba(255, 255, 255, .50);
   margin: 0;
}

header a {
    text-decoration: none;
    color: var(--fourth-color);
}

header nav {
   
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    text-shadow: 0 0 5px rgba(255, 255, 225, .75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color:white;
    border-radius: 10px;
}



footer {
    background-color: var(--secondary-color);
    background-image: url(./images/space.jpg);
    background-position: 80%;
    background-size: cover;
    color: white;
    padding: 20px;
    width: 100%;
}

section {
    padding: 50px;
}

.hero {
    background-image: url("../assets/images/space.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 80px;
    align-items: flex-end;
}

.hero-intro {
    width:50%;
    margin-top: 3%;
    text-align: right;
    align-content: right;
    color: white;
    line-height: 1;
}

.hero-intro h2 {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, );
    font-style: italic;
}

.bio{
    display:inline-flex;
}

.bio p {
    color: var(--primary-color);
    width: 70%;
    font-size: 20px;
    text-align: left;
    margin: 5px auto;
}

.section-title {
    font-size:60px;
    text-align: right;
    display:inline-flex;
    border-right: solid 10px;
}

.primary-border {
    border-color: var(--secondary-color);
}

.section-title span {
    color: white;
}


.projects h3 {
    font-size: 28px;
    font-style: oblique;
    text-align: left;
    background: var(--primary-color);
}


.first-project {
    align-content: center;
}

.first-project img {
    height: 500px;
    width: 100%;
    border: solid 3px var(--fourth-color);
    margin: 20px 0;
}

.projects-cards {

}

.projects-cards img {
    height: 250px;
    width: 100%;
    border: solid 3px var(--tertiary-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:var(--secondary-color);
    width: 100%;
    margin: 5px auto;
}


.hobbies {
    display: inline-flex;
    flex-wrap: wrap;
    width: 70%;
    flex: 1;
}

.hobbies div {
    margin: 5px auto;
    width: 70%;
}

.hobbies p {
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.learning-list {
    flex-direction: column;
    text-align: left;
}

.learning-list ul li {
    list-style: none;
    font-size: 15px;
    color:rgb(14, 119, 122);
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin: 5px auto
}

.learning-list ul li:hover {
    color:var(--fourth-color);
}

.contact-section div {
    display: inline-block;
    padding: 20px 5px;
    margin: 0 10px;
    height: auto;
}

.contact-section p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: solid 2px #ffff;
}


.contact-section {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
}