* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e387a;
    --secondary-color: #9fafca;
    --tertiary-color: rgba(182, 182, 67, 0.849);
}

body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: var(--secondary-color);
    background-image: url(./images/space.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    top: 0;
    color: rgb(22, 34, 201, .50);
    align-items: center;
}

header img{
    max-width: 100%;
    max-height: 100%;
    border:rgb(0, 0, 0) 1px solid;
    border-radius: 30px;
}

.name-pic img {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

header h1 {
   font-size: 50px;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-shadow: 0 0 10px rgba(255, 255, 255, .50);
   font-style: italic;
   display: inline-flex;
}


header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    text-shadow: 0 0 5px rgba(255, 255, 225, .75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color:white;
    border-radius: 10px;
}



footer {
    background-color: var(--secondary-color);
    background-image: url(./images/space.jpg);
    background-position: 80%;
    background-size: cover;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

section {
    padding: 50px;
}

.hero {
    background-image: url("../assets/images/space.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    align-items: flex-end;
}

.hero-intro {
    width:50%;
    margin-top: 3%;
    text-align: right;
    align-content: right;
    color: white;
    line-height: 1;
}

.hero-intro h2 {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, );
    font-style: italic;
    color: var(--tertiary-color);
}

.bio{
    display:inline-flex;
}

.bio p {
    font-size: 18px;
    text-align: left;
    margin: 5px 20px;
    color: var(--tertiary-color)
}


.projects h3 {
    font-size: 28px;
    font-style: oblique;
    text-align: left;
    color: var(--tertiary-color);
}

.projects h3:hover {
    color: white;
}
.first-project {
    align-content: center;
}

.first-project img {
    border: solid 3px rgba(12, 233, 233, .85);
    margin: 5px;
    width: 100%;
}

.resize {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.projects-cards img {
    border: solid 3px rgba(12, 233, 233, .85);
    margin: 5px;
    height: 300px;
}

.projects-cards img:hover, .first-project img:hover {
    border: solid 3px white;
    box-shadow: 0 0 15px rgba(255, 255, 225, .75);
}

.projects {
    display: flex;
    background:var(--primary-color);
    width:100%;
    margin: 5px auto;
    justify-content: flex-end;
}


.hobbies {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
}

.hobbies div {
    margin: 5px;
}

.hobbies p {
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(182, 182, 67, 0.849);
}

.learning-list {
    flex-direction: column;
    text-align: left;
}

.learning-list ul li {
    list-style: none;
    font-size: 15px;
    color:rgb(14, 119, 122);
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin: 5px auto
}

.learning-list ul li:hover {
    color:var(--secondary-color);
}

.contact-section div {
    display: inline-block;
    padding: 0px 5px;
    margin: 0 10px;
}

.contact-section p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: solid 2px #ffff;
    color: var(--tertiary-color);
}


.contact-section {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size:60px;
    text-align: right;
    border-right: solid 10px;
    display: inline-block;
}

.primary-border {
    border-color: var(--primary-color);
}

.section-title span {
    color: white;
}

.set-width {
    width: 100%;
}

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding-bottom: 10px;
    }

    .hero-intro {
        text-align: center;
        justify-content: center;
        align-content: center;
        width: auto;
    }
    
    .bio, .hobbies {
        display: block;
    }

    .bio p {
        text-align: center;
        padding: 20px 0;
    }

    .projects {
        display: inline-block;
        justify-content: center;
    }

    .first-project img, .projects-cards img {
        width: 100%;
        height: auto;
    }

    .resize {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }

    .learning-list {
        text-align: center;
    }

    .learning-list ul li {
        font-size: 20px;
    }

    .contact-section p {
        border-bottom: 0;
        margin: 20px;
        text-align: center;
    }

    .contact-section address {
        text-align: center;
        font-size: 18px;
        color: black;
    }

    .contact-section a {
        text-decoration: none;
        color: rgb(12, 233, 233);
    }

    .contact-section a:hover {
        text-shadow: 0 0 20px rgba(255, 255, 225, .75);
    }

    .section-title {
        text-align: center;
        border-bottom: 10px solid;
        display: block;
        height: auto;
        width: 100%;
        border-right: 0;
    }

    .primary-border {
        border-color: var(--primary-color)
    }
}

@media screen and (max-width: 450px) {
    header nav ul {
        justify-content: center; 
        flex-direction: column;
        font-size: 15px;
        padding: 10px;
    }

    header h1 {
        color: var(--tertiary-color);
    }

    .bio p {
        font-size: 15px;
        text-align: justify;
    }

    .contact-section p {
        text-align: unset;
    }


}